  <script> 
    $(function() {
      $('.banner').unslider();
    });
  </script>
  
  <div class="container">
    <div class=" banner">
          <ul>
        <li><img src="https://portfoliocodeacademy.s3.ca-central-1.amazonaws.com/Screen+Shot+2020-06-14+at+8.11.53+PM.png">
        </li>
        <li><img src="https://portfoliocodeacademy.s3.ca-central-1.amazonaws.com/Screen+Shot+2020-06-14+at+7.33.56+PM.png">
        </li>
        <li><img src="https://portfoliocodeacademy.s3.ca-central-1.amazonaws.com/Screen+Shot+2020-06-14+at+7.34.25+PM.png">
        </li>     
        <li><img src="https://portfoliocodeacademy.s3.ca-central-1.amazonaws.com/Screen+Shot+2020-06-14+at+6.13.29+PM.png">
        </li>
        </ul>
  </div>
</div>
<div class="main ">
</div>
    
      

      
    
  



