
    <div class="jumbotron bg1">
      <div class="container">  
        <div class="main ">
          <div class=" text-center">
            <h1>Follow Me!</h1>
            <div class="btn btn-outline-black"> <% link_to "View My Work" %></div>
          </div>
        </div>
      </div>
    </div>